.teslaui-selectmap {
	position: absolute;
	bottom: 3%;
	left: 2%;
	background-color: white;
	padding: 1%;
	border-radius: 12px;
	font-size: 20px; 
}

.teslaui-buttonselect {
	padding: 15px;
	color: rgb(209, 209, 209);
}

html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map { height: 100% }